<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">🎓 PlacementPredictor</div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="predict-container">

    <h1>About Project</h1>

    <div class="about-section">

        <h2>📌 Project Overview</h2>

        <p>
            Student Placement Prediction System is an AI-powered web application
            that predicts a student's placement chances based on academic
            performance, coding skills, communication skills, projects,
            internships and backlogs.
        </p>

        <h2>🛠 Technologies Used</h2>

        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>MySQL</li>
            <li>Machine Learning</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>

        <h2>🤖 Machine Learning Model</h2>

        <p>
            Random Forest Classifier is used to analyze student data
            and predict placement probability.
        </p>

        <h2>✨ Features</h2>

        <ul>
            <li>Placement Prediction</li>
            <li>Prediction History</li>
            <li>Analytics Dashboard</li>
            <li>MySQL Database Storage</li>
            <li>Interactive User Interface</li>
        </ul>

        <h2>👨‍💻 Developer</h2>

        <p>
            Developed by Mayur Ghuge
        </p>

    </div>

</div>

</body>
</html>